1. get sample image
2. download image
3. perform imnage grouping
4. inspect result

Next items to do, prepare and package as jobs
1. create auto-query
2. create sql to store result
3. export to executable py


# Plot sse against k
plt.figure(figsize=(6, 6))
plt.plot(list_k, sse)
plt.xlabel(r'Number of clusters *k*')
plt.ylabel('Sum of squared distance');

# prepare data for saving to rdbms
# print(clus_new)
# i = 0 
result_cluster = []

for item in clus_new:
    # print(clus_new[item])
    print(len(clus_new[item]))
    for file in clus_new[item]:
        # print(file, item)
        result_cluster.append(file)
    # i = i + 1

# view_cluster_2(0)
len(clus_new)
len(result_cluster)


 * Kesepakatan status di kolom screen_analisis_ai.status
 * 1 --> baru diinput
 * 2 --> lagi dikerjakan
 * 3 --> proses berhasil
 * 4 --> proses gagal
 *
 
 * Kesepakatan jenis analisa AI
 * 1 --> Analisa Cluster
 * 2 --> Analisa image clustering
 * 3 --> Analisa sentiment

In [14]:
# for loading/processing the images  
from keras.preprocessing.image import load_img 
from keras.preprocessing.image import img_to_array 
from keras.applications.vgg16 import preprocess_input 
from sklearn.metrics.pairwise import cosine_similarity

# models 
from keras.applications.vgg16 import VGG16 
from keras.models import Model

# clustering and dimension reduction
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

# for everything else
import os
import numpy as np
import matplotlib.pyplot as plt
from random import randint
import pandas as pd
import pickle
import requests
from pathlib import Path
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from PIL import Image
from io import BytesIO
from urllib.parse import urlparse

In [15]:
def resize_and_upload_image(url, save_folder):
    try:
        # Fetch the image from the URL
        response = requests.get(url)
        response.raise_for_status()

        # Open the image from the response content
        image = Image.open(BytesIO(response.content))

        # Check the image size in bytes
        image_size = len(response.content)

        # Set the maximum allowed size in bytes (200KB)
        max_size = 200 * 1024

        # Extract the base path from the URL for saving the images
        parsed_url = urlparse(url)
        base_path = os.path.basename(parsed_url.path)

        # Determine the paths for saving the images
        original_image_path = os.path.join(save_folder, 'original_' + base_path)
        resized_image_path = os.path.join(save_folder, 'resized_' + base_path)

        # If the image size exceeds the maximum allowed size, resize it
        if image_size > max_size:
            print('more than 200kb')
            print(original_image_path)
            print(resized_image_path)
            
            # Calculate the scaling factor to reduce the image size
            scale_factor = (max_size / image_size) ** 0.5
            new_width = int(image.width * scale_factor)
            new_height = int(image.height * scale_factor)

            # Resize the image
            resized_image = image.resize((new_width, new_height), Image.ANTIALIAS)

            # Save the resized image to the local folder
            resized_image.save(resized_image_path, format="JPEG")

            # Reupload the resized image to the original location
            with open(resized_image_path, 'rb') as resized_file:
                reupload_url = url  # Use the original URL for reupload
                print(url)
                files = {'file': ('resized_' + base_path, resized_file)}
                reupload_response = requests.post(reupload_url, files=files)
                print(reupload_response)

            # Delete the original image in the local folder
            os.remove(original_image_path)

        else:
            # Image is smaller than 200KB, no need to resize or reupload
            resized_image_path = original_image_path

        return original_image_path, resized_image_path

    except Exception as e:
        # Handle errors such as invalid URLs or image processing issues
        return str(e)

# Example usage:
# imageURL = "https://example.com/path/to/your/image.jpg"
# save_folder = "path/to/your/local/folder"
# original_image_path, resized_image_path = resize_and_upload_image(imageURL, save_folder)
# Both original_image_path and resized_image_path will contain the file paths in the local folder.

def download_image(url, folder_path):
    try:
        # Send an HTTP GET request to the URL
        response = requests.get(url)

        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Extract the filename from the URL
            filename = os.path.join(folder_path, os.path.basename(url))

            # Save the image to the specified folder location
            with open(filename, 'wb') as file:
                file.write(response.content)
            file_size_bytes = os.path.getsize(filename)
            file_size_kb = file_size_bytes / 1024

            if file_size_kb >= 200:
                print("Resizing...")
                resize_and_upload_image(filename,url)
            # print(f"Image downloaded and saved as {filename}")
        else:
            print(f"Failed to download image. Status code: {response.status_code}")

    except Exception as e:
        print(f"Error: {str(e)}")

def resize_and_upload_image(file_path, upload_url, target_size_kb=200):
    try:
        # Open the image from the file
        with Image.open(file_path) as image:
            # Calculate the target size in bytes
            target_size_bytes = target_size_kb * 1024

            # Initialize the quality variable
            quality = 95

            while os.path.getsize(file_path) > target_size_bytes:
                # Resize the image while keeping the quality constant
                width, height = image.size
                new_width = int(width * 0.9)
                new_height = int(height * 0.9)

                # Ensure the dimensions are at least 1
                new_width = max(1, new_width)
                new_height = max(1, new_height)

                image = image.resize((new_width, new_height), Image.LANCZOS)

                # Save the resized image to the same file
                image.save(file_path, "JPEG", quality=quality)

            if os.path.getsize(file_path) <= target_size_bytes:
                print(f"Image resized and overwritten at: {file_path}")

                # Upload the resized image to the given URL
                with open(file_path, 'rb') as file:
                    response = requests.post(upload_url, files={'file': (os.path.basename(file_path), file)})

                if response.status_code == 200:
                    print(f"Image uploaded to {upload_url}")
                else:
                    print(f"Upload failed with status code {response.status_code}")
            else:
                print(f"Image not resized, not uploaded.")
                
    except Exception as e:
        print(f"Error: {e}")

## query functions


import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, MetaData, Table
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.util import deprecations
from sqlalchemy.sql import text
deprecations.SILENCE_UBER_WARNING = True

def execute_query_psql(query, params=None):
    # Set your PostgreSQL connection parameters
    db_params = {
        'host': '98.98.117.105',
        'port': '5432',
        'database': 'medols',
        'user': 'postgres',
        'password': 'FEWcTB3JIX5gK4T06c1MdkM9N2S8w9pb',
    }

    # Create a SQLAlchemy engine
    engine = create_engine(f"postgresql+psycopg2://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

    # Create a metadata object
    metadata = MetaData()

    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Execute the query with optional parameters
        result = session.execute(text(query), params)

        # Check if the query is a SELECT query
        is_select_query = result.returns_rows

        if is_select_query:
            # Fetch the data and return as a Pandas DataFrame
            columns = result.keys()
            fetched_data = result.fetchall()
            df = pd.DataFrame(fetched_data, columns=columns)
            # print("Fetched Data as DataFrame:")
            # print(df)
            return df
        else:
            # Get the number of rows affected for non-SELECT queries
            rows_affected = result.rowcount

            # Commit the changes to the database for non-SELECT queries
            session.commit()

            print(f"Query executed successfully. {rows_affected} rows affected.")
            return rows_affected
    except Exception as e:
        # Rollback changes if there's an error
        session.rollback()
        print(f"Error executing query: {e}")
    finally:
        # Close the session
        session.close()

def clear_image():
    folder_path = '/home/jup_user/multipool/ai-case-study/img'
    # Create a Path object for the folder
    folder = Path(folder_path)
    
    # Iterate through the files in the folder and delete them
    for file in folder.iterdir():
        try:
            if file.is_file():
                file.unlink()
                # print(f"Deleted {file}")
            else:
                print(f"{file} is not a file.")
        except Exception as e:
            print(f"Error deleting {file}: {str(e)}")

# extracting feature from image files
def extract_features(file, model):
    # load the image as a 224x224 array
    img = load_img(file, target_size=(224,224))
    # convert from 'PIL.Image.Image' to numpy array
    img = np.array(img) 
    # reshape the data for the model reshape(num_of_samples, dim 1, dim 2, channels)
    reshaped_img = img.reshape(1,224,224,3) 
    # prepare image for model
    imgx = preprocess_input(reshaped_img)
    # get the feature vector
    features = model.predict(imgx, use_multiprocessing=True)
    return features

# function that lets you view a cluster (based on identifier)        
def view_cluster(cluster):
    plt.figure(figsize = (25,25));
    # gets the list of filenames for a cluster
    files = groups[cluster]
    # only allow up to 30 images to be shown at a time
    if len(files) > 30:
        print(f"Clipping cluster size from {len(files)} to 30")
        files = files[:29]
    # plot each image in the cluster
    for index, file in enumerate(files):
        plt.subplot(10,10,index+1);
        img = load_img(file)
        img = np.array(img)
        plt.imshow(img)
        plt.axis('off')

In [16]:
#
# Get jobsid from queue table
# 
iJobID = 0
sql = """
select 	a.id, a.hastag, a.parameter
from 	screen_analisis_ai a inner join ret_available_db b 
		on a.hastag = b.db_id 
where 	a.active = 1
		and a.status = 1
		and a.jenis_analisa = '2'
order by b.since desc limit 1
"""

df_res = execute_query_psql(sql)

# check job availability
if(len(df_res)) == 0:
    # get out, nothing to do
    print('Zero jobs, quitting now')
    quit()

df_res.head()
iJobID = df_res['hastag'][0]
const_job_id = df_res['id'][0]
const_parameter = df_res['parameter'][0]

print('iJobID: ' + str(iJobID))
print('const_job_id: ' + str(const_job_id))
print('const_parameter: ' + str(const_parameter))

iJobID: 87554
const_job_id: 3747
const_parameter: None

In [17]:
## report to dbms that we are working on this row
sql = ""
sql = "update screen_analisis_ai set status = 2, last_status_update = now(), start_process = now() where id = '" + str(const_job_id) + "';"
print(sql)
# execute
# execute_sqlalchemy_transaction(sql)
execute_query_psql(sql)
#
# Create Header Record
sql = "insert into ret_analysis_header (job_id, datetime_start, user_id) values (%s, now(), %s)" % (const_job_id,"1")
# Execute the query
execute_query_psql(sql)

update screen_analisis_ai set status = 2, last_status_update = now(), start_process = now() where id = '3747';
Query executed successfully. 1 rows affected.
Query executed successfully. 1 rows affected.

1

In [18]:
## get images from server
# Example usage:
query = """
select a.id, a.db_id, c.tweet_id, c.filename
from ret_available_db a inner join ret_tweet b on a.db_id = b.db_id
inner join media_files c on b.id = c.tweet_id
where 	a.db_id = %s
"""
query = query % str(iJobID)
print(query)

result_df = execute_query_psql(query)

## downloading image set
img_prefix_http = "http://98.98.117.121:8082/api/media/photo/download/twitter/"
folder_path = "/home/jup_user/multipool/ai-case-study/img"    # Replace with the desired folder path

# download_image(url, folder_path)
# clear up folder first
clear_image()

i = 0
for index, row in result_df.iterrows():
    # print(result_df.at[index,'filename'])
    url = img_prefix_http + result_df.at[index,'filename']
    print(url)
    download_image(url, folder_path)
    i = i +1

print("finished downloading " + str(i) + " image set" )

select a.id, a.db_id, c.tweet_id, c.filename
from ret_available_db a inner join ret_tweet b on a.db_id = b.db_id
inner join media_files c on b.id = c.tweet_id
where 	a.db_id = 87554

http://98.98.117.121:8082/api/media/photo/download/twitter/GHptMk5XQAE6KHg.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpsUbNbgAAwnNf.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpr3OCboAAN9HK.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn6LKjbUAAge10.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpkHM_asAAwxFx.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpeFLeakAA5Fxc.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpZQ9wbEAAc_SV.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpYYhdbkAAKLXu.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpYL1zbgAERIlS.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpWOoVbcAAttQa.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpTzlBaAAATwQr.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpTatfbkAAt38X.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpQ2r3bgAAGMPf.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpLVTLaAAALH4-.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpFMGyaYAABWct.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpE1h_a0AAXsDY.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHpCdXLaAAA-u0Y.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo-8lgbAAEqPP6.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo-MunbQAAtBv5.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo9O9TbEAAfSR8.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo8u_HbAAALVqd.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo47qtbAAEb6RZ.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo4-DCagAAnSuX.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo4sz4bMAAIYWi.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo4YGJbkAAfVBL.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo3arabYAA1Rir.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo3BRebUAA32IT.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo3AYibYAAQIYN.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo2vMVbgAAEvnk.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo0XTBa0AACLtf.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHo0VCea0AA-oKa.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHobmERbAAAu_A7.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHozf29bcAAgPHI.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHozBqTbUAASGPV.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoy9SjbAAAKIlh.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoyP1HXYAAwDDw.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHovFtNb0AALcjp.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoxcStagAAYuhA.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHow6Bua4AAv0X_.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHowZG0aMAAnaFB.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHovtwCaMAA49NX.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHovoQEbIAAdzWg.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHovnJ-bwAAbslR.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHouXncb0AA0-YU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHotjX7bwAAkL9q.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoruPobsAATN0T.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHorjaxbYAAvr43.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHorWvDbkAANBhE.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoqvBmbsAENKRD.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHopeBrbMAAn476.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHonnVbbIAA-l5x.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHonTHCbMAAruPL.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHomqznaIAAsPJR.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHok854aEAA-Z0l.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHok2oOaIAAEUWh.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoj8HSakAAhMxS.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHojtFKaoAAcCOI.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHojULZaAAAkWCS.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHojOvHa4AAMoDU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHojN7Qa0AAFxoI.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHog59qbsAAr6Cb.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHogedubwAABtX6.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHof0qDbsAAO_qe.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHogL7racAAAOvQ.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHofUu4bAAAcAKm.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoe6RmaQAAPNTN.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoeg2gbMAAoS1q.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoduD5akAAYLX1.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHod1SaaQAAs6Mg.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHobDkqbIAAJ7li.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHobAbEbEAAdHxb.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoZo6eakAAtvD4.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoZlk3W8AIAObQ.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoYm-7boAAk9ar.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoX6alacAA-LOg.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoXIceawAA5pnU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmV2QTbMAAVm1V.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoVopXboAAZA8d.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoVmpzagAAthGU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoVO-BaoAA6CvA.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoU4NxbAAA5DPO.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoT27_boAAP2ak.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoTHP3asAAnTXJ.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoTDW5aIAAMvR0.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoSQ3laIAAgH0A.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoPUOfaMAAOFRT.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoOUHyb0AExHnd.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoL-VFbIAALmH8.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoLPTxaAAA_ZMg.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoKQ4rbcAARSID.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoJEZsaYAAXCh1.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoJ3vJagAATXyd.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoJZH5bIAAekYJ.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoIz2EacAAmXHj.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoInLzboAA-ar8.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjFsjHakAA3yZl.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoHnl4bYAAbSxo.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoHhe5a8AAerUF.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoHTMwXoAE78na.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoG4b7a0AA_01k.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoGKYIbIAAV47U.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoEuIDakAAEXlq.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoELV1bkAAwjS9.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoD3t-bgAAsEfj.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/E5EL459UUAAnORn.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoB9T9aAAA7tL3.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoBuc0aUAA_Mh4.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHoBaMna4AA6rAb.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn-SWcaUAAralf.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn9bT2a4AAw1w8.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn8TqbaYAAb9Cd.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn79RkaUAADe1x.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn7xvibMAAWYzU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn62mBX0AIO8Gm.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn6xXxacAE3ss0.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn6QQvbAAAEM93.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn6NevaoAAK_Vs.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn5c-ybIAAVy31.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn4Lm5bAAAWZyo.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn3sZAaIAAs0zH.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHn2ip5bsAAzhYs.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmf4U5bYAAFfC5.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHny7L5bIAAbySZ.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnyhP6bYAA7_Yx.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnyb4MaQAADQhM.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnxMFgaoAAhpVq.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnv9hBbUAAI_UU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnuwMkboAA5g3t.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHntQcgaoAA2EhI.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnszh8aAAASu_N.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnoXhrbIAAfS4d.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHngJJNaQAATnYS.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnQlLTagAAAYb7.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHnDHrcbEAAB2FW.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmne_3bEAAQZKr.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmbtYNa8AAgf9u.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmQYOxbwAE7bdP.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmGCZxawAESLV-.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlC5ATasAAy3gB.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlCvO8bcAAf5oa.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlCrynbMAAfNnU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlCn9yacAArNxn.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHl6INAbsAA3hYX.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlkK1-agAALMNE.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHleiYdagAAzYzg.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlcEYRacAASzom.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlXONtXcAE047P.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlV0xNbAAArBhs.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlPGVObIAACLSj.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlODpeaUAAQsvc.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHlKQJVaQAATQYE.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHk87z_bQAACywn.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHk5DvJaIAALpkd.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHknR65agAAW61M.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHkmah1a8AACw-5.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHkh26QbAAAixx5.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHkNEDrbsAAmQMz.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/EyYW6x5VoAM8lEl.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHEf7XNaYAE77Uf.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHj9cV8bgAABSJE.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHj2QDxbUAAounP.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjn9AYbQAAZQrl.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjfi-jbAAEnVVz.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjdo5PbwAA-pz0.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjQQx2bcAAE3ae.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjBWcdbgAAL8nq.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHi5_qCb0AAyyAt.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHi2qSSbIAAM99O.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHhUd24bkAAHv08.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHhTajEbkAIhnwT.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHhS2hbbkAAd5yF.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHgvGxVbIAANOW3.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHghdICbsAEdp8_.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHgexOpXQAAZ84q.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHgAplha8AAk3fE.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHfri1yawAAOJVb.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHfrWs7awAAwwmw.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHflAnJa8AAmSfy.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GGkorKwboAAnilH.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHfLHABbIAA8AOQ.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHfFg5hasAASp6b.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHe9BdLbAAAfptG.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHe72NsacAAoGco.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHdyi64aMAAypYy.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHeuqDCakAAhN1B.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHeq8_WaQAE3gkV.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHeXPybaoAATFKi.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHeSFQAaEAA9VV_.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHeOZsSbYAA8KTP.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHeMFywacAAkKh6.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHeCiw4bcAAwhz5.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHd08xPaAAAwhnX.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHdqwV8akAAnbUc.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHdcSIiaoAAsdbz.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHdMPbfaoAA4CLU.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHbpl0xacAA_aCM.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHbiShdXMAASRDA.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHbLztZaAAAC88s.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHbLStzbcAA1XWY.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHaVWNraIAArY2K.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHZz_ulaMAAOSya.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHZXGXnaUAAp65K.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHZPDsfakAAtPrh.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHXDBLVacAA6gJc.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHW9N-jacAAGlCL.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHWaaFnWwAA4X5V.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHVtI_2bIAAYmKt.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHUTikua8AAKHto.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHUGWl0aMAAbYMz.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHT6TPVbIAAOOsd.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHTu0TXagAAUDPK.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHTgbngaIAAlovn.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/FI6TyT7agAUhiXh.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHTLhl_WkAArhNt.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHPdf4WaAAEpLEy.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHOyUmbbcAAnanm.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHOuvgMawAAI6oK.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHOtS0cWcAA-UOh.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHOrlRIXIAABDEx.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHOpmagbcAA4y7_.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHOagkZbAAAzVxe.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHOKKPoaAAAw09a.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHNu_YVa0AAkMn2.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHM6-n0bIAA3Fhy.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GC1-_LfbIAAnGIm.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/FpyFw-ZaMAEhOmX.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHL-DjzbcAAFTVl.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHL5EtUaIAAMoKD.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHLhcEXbwAIo2E4.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHLU1nmaoAAIYOx.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHLSzjxasAAN2fh.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHLMptWbAAA_LBV.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHLCtQMaMAAOeHM.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHK8jIFboAA-PT_.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHKvpSCagAAenXt.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHKJ5iPbEAAueY1.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHJv0KxaAAAFfbK.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHJpcdqbIAILhid.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHJi2aabkAAsZOX.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHJgHxMbkAAaX1c.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHJLkb5acAAY0y0.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHJHxI0aIAAABGn.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHJEoN8bgAAoveO.jpg
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmws_bbEAAmIis.png
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmqtYoa0AAJig1.png
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmuxw2aYAAw37u.png
http://98.98.117.121:8082/api/media/photo/download/twitter/GHmudraaAAA1uw_.png
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjcqVibwAA8etB.png
http://98.98.117.121:8082/api/media/photo/download/twitter/GHjclEvaUAAPWEP.png
finished downloading 249 image set

In [19]:
path = folder_path
# change the working directory to the path where the images are located
os.chdir(path)

# this list holds all the image filename
flowers = []

# creates a ScandirIterator aliased as files
with os.scandir(path) as files:
  # loops through each file in the directory
    for file in files:
        if file.name.endswith('.jpg'):
          # adds only the image files to the flowers list
            flowers.append(file.name)
        if file.name.endswith('.png'):
            # adds only the image files to the flowers list
            flowers.append(file.name)
            
model = VGG16()
model = Model(inputs = model.inputs, outputs = model.layers[-2].output)
   
data = {}
p = "/home/jup_user/multipool/ai-case-study/img"

# lop through each image in the dataset
for flower in flowers:
    # try to extract the features and update the dictionary
    try:
        feat = extract_features(flower,model)
        data[flower] = feat
    # if something fails, save the extracted features as a pickle file (optional)
    except:
        with open(p,'wb') as file:
            pickle.dump(data,file)
          
# get a list of the filenames
filenames = np.array(list(data.keys()))

# get a list of just the features
feat = np.array(list(data.values()))

# reshape so that there are 210 samples of 4096 vectors
feat = feat.reshape(-1,4096)

# get the unique labels (from the flower_labels.csv)
df = pd.read_csv('/home/jup_user/multipool/ai-case-study/flower_labels.csv')
label = df['label'].tolist()
unique_labels = list(set(label))

# reduce the amount of dimensions in the feature vector
pca = PCA(n_components=100, random_state=22)
pca.fit(feat)
x = pca.transform(feat)

# cluster feature vectors
kmeans = KMeans(n_clusters=len(unique_labels), random_state=22)
kmeans.fit(x)

# holds the cluster id and the images { id: [images] }
groups = {}
for file, cluster in zip(filenames,kmeans.labels_):
    if cluster not in groups.keys():
        groups[cluster] = []
        groups[cluster].append(file)
    else:
        groups[cluster].append(file)

# this is just incase you want to see which value for k might be the best 
sse = []
list_k = list(range(3, 50))

for k in list_k:
    km = KMeans(n_clusters=k, random_state=22)
    km.fit(x)
    
    sse.append(km.inertia_)

# function to calculate clusters
def cluster(filePaths, features, threshold=0.9):
    features = features.reshape(-1,4096)
    simMatrix = cosine_similarity(features)
    clusters = {}
    for i in range(len(features)):
        dupIdx = list(np.where(simMatrix[i] > threshold)[0])
        # The similarity matrix will include comparisons of items with themselves, which will always 
        # result in a similarity of 1.0 (100%) and is redundant, so we ignore those
        if len(dupIdx) > 1:
            curCluster, clusterMatch = list(dupIdx), None
            # The first time an image is found to be in any given cluster, we log the entire cluster, 
            # so subsequent checks of other images from the same cluster would result in duplicated clusters.
            # Check for that here
            for cIdx in clusters:
                if curCluster[0] in clusters[cIdx]:
                    clusterMatch = cIdx
                    break
            # If the current cluster didn't match any existing ones, create/log it
            if clusterMatch == None: clusters[len(clusters)] = curCluster
    # Resolve file indices back to file paths
    for cIdx in clusters: clusters[cIdx] = [filePaths[x] for x in clusters[cIdx]]
    return clusters

# another method of clustering based on CSI
clus_new = cluster(filenames, feat, threshold=0.6)

1/1 [==============================] - 0s 201ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 93ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 91ms/step
1/1 [==============================] - 0s 94ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 91ms/step
1/1 [==============================] - 0s 91ms/step
1/1 [==============================] - 0s 97ms/step
1/1 [==============================] - 0s 83ms/step
1/1 [==============================] - 0s 72ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 80ms/step
1/1 [==============================] - 0s 126ms/step
1/1 [==============================] - 0s 94ms/step
1/1 [==============================] - 0s 95ms/step
1/1 [==============================] - 0s 91ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 93ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 93ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 93ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 92ms/step
1/1 [==============================] - 0s 95ms/step
1/1 [==============================] - 0s 80ms/step
1/1 [==============================] - 0s 75ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 80ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 91ms/step
1/1 [==============================] - 0s 89ms/step
1/1 [==============================] - 0s 79ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 76ms/step
1/1 [==============================] - 0s 89ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 88ms/step
1/1 [==============================] - 0s 88ms/step
1/1 [==============================] - 0s 88ms/step
1/1 [==============================] - 0s 88ms/step
1/1 [==============================] - 0s 87ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 72ms/step
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 73ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 88ms/step
1/1 [==============================] - 0s 75ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 57ms/step
1/1 [==============================] - 0s 58ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 65ms/step
1/1 [==============================] - 0s 59ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 62ms/step
1/1 [==============================] - 0s 61ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 60ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 67ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 74ms/step
1/1 [==============================] - 0s 75ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 72ms/step
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 71ms/step
1/1 [==============================] - 0s 69ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 70ms/step
1/1 [==============================] - 0s 66ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 68ms/step

/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/home/jup_user/mlproject/jup-env/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [20]:
# prepare data for saving to rdbms
save_df = result_df

In [21]:
# save_df[["file_folder","filename_actual"]] = save_df['filename'].str.split('/',n=1, expand=True)
save_df['cluster_number'] = 0

In [22]:
for item in clus_new:
    # print(clus_new[item])
    # print(len(clus_new[item]))
    for file in clus_new[item]:
        # print(item)
        print(file)
        filter_condition = save_df['filename'] == file
        save_df.loc[filter_condition,'cluster_number'] = item
        result = save_df[filter_condition]
        # result['cluster_number'] = item
        # print(save_df.loc[filter_condition,'cluster_number'])

GHmGCZxawAESLV-.jpg
GHoOUHyb0AExHnd.jpg
GHT6TPVbIAAOOsd.jpg
GHk87z_bQAACywn.jpg
GHlcEYRacAASzom.jpg
GHe72NsacAAoGco.jpg
GHjBWcdbgAAL8nq.jpg
GHfFg5hasAASp6b.jpg
GHo-MunbQAAtBv5.jpg
GHeq8_WaQAE3gkV.jpg
GHknR65agAAW61M.jpg
E5EL459UUAAnORn.jpg
GHmQYOxbwAE7bdP.jpg
GHnDHrcbEAAB2FW.jpg
GHUTikua8AAKHto.jpg
GHd08xPaAAAwhnX.jpg
GHkNEDrbsAAmQMz.jpg
GHlC5ATasAAy3gB.jpg
GHL5EtUaIAAMoKD.jpg
GHlCvO8bcAAf5oa.jpg
GHlCrynbMAAfNnU.jpg
GHlCn9yacAArNxn.jpg
GHo47qtbAAEb6RZ.jpg
GHleiYdagAAzYzg.jpg
GHmbtYNa8AAgf9u.jpg
GHhUd24bkAAHv08.jpg
GHZXGXnaUAAp65K.jpg
GHok2oOaIAAEUWh.jpg
GHbLStzbcAA1XWY.jpg
GHUGWl0aMAAbYMz.jpg
GHfri1yawAAOJVb.jpg
GHJHxI0aIAAABGn.jpg
GHo2vMVbgAAEvnk.jpg
GHn4Lm5bAAAWZyo.jpg
GHnyhP6bYAA7_Yx.jpg
GHoKQ4rbcAARSID.jpg
GHo9O9TbEAAfSR8.jpg
GHobDkqbIAAJ7li.jpg
GHe9BdLbAAAfptG.jpg
GHfLHABbIAA8AOQ.jpg
GHn6NevaoAAK_Vs.jpg
GHjclEvaUAAPWEP.png
GHjcqVibwAA8etB.png
GHeXPybaoAATFKi.jpg
GHeMFywacAAkKh6.jpg
GHLU1nmaoAAIYOx.jpg
GHoruPobsAATN0T.jpg
GHnxMFgaoAAhpVq.jpg
GC1-_LfbIAAnGIm.jpg
GHomqznaIAAsPJR.jpg
FpyFw-ZaMAEhOmX.jpg
GHoYm-7boAAk9ar.jpg
GHVtI_2bIAAYmKt.jpg
GHn6NevaoAAK_Vs.jpg
GHjclEvaUAAPWEP.png
GHjcqVibwAA8etB.png
GHeXPybaoAATFKi.jpg
GHeMFywacAAkKh6.jpg
GHntQcgaoAA2EhI.jpg
GHnDHrcbEAAB2FW.jpg
GHOtS0cWcAA-UOh.jpg
GHmbtYNa8AAgf9u.jpg
GHfri1yawAAOJVb.jpg
GHJi2aabkAAsZOX.jpg
GHJgHxMbkAAaX1c.jpg
GHJEoN8bgAAoveO.jpg
GHmf4U5bYAAFfC5.jpg
GHmV2QTbMAAVm1V.jpg
GHdMPbfaoAA4CLU.jpg
GHaVWNraIAArY2K.jpg
GHoJ3vJagAATXyd.jpg
GHnyhP6bYAA7_Yx.jpg
GHn6xXxacAE3ss0.jpg
GHnoXhrbIAAfS4d.jpg
GHo-8lgbAAEqPP6.jpg
GHLhcEXbwAIo2E4.jpg
GHbLStzbcAA1XWY.jpg
GHow6Bua4AAv0X_.jpg
GHpLVTLaAAALH4-.jpg
GHo3BRebUAA32IT.jpg
GHj9cV8bgAABSJE.jpg
GHL5EtUaIAAMoKD.jpg
GHonTHCbMAAruPL.jpg
GHoX6alacAA-LOg.jpg
GHorjaxbYAAvr43.jpg
GHnxMFgaoAAhpVq.jpg
GHmudraaAAA1uw_.png
GHoTDW5aIAAMvR0.jpg
GHoyP1HXYAAwDDw.jpg
GHozf29bcAAgPHI.jpg
GHM6-n0bIAA3Fhy.jpg
E5EL459UUAAnORn.jpg
GHgexOpXQAAZ84q.jpg
GHhTajEbkAIhnwT.jpg
GHoeg2gbMAAoS1q.jpg
GHo47qtbAAEb6RZ.jpg
GHhUd24bkAAHv08.jpg
GHok2oOaIAAEUWh.jpg
GHhS2hbbkAAd5yF.jpg
GHdqwV8akAAnbUc.jpg
GHo2vMVbgAAEvnk.jpg
GHjfi-jbAAEnVVz.jpg
GHoduD5akAAYLX1.jpg
GHLMptWbAAA_LBV.jpg
GHow6Bua4AAv0X_.jpg
GHLSzjxasAAN2fh.jpg
GHnxMFgaoAAhpVq.jpg
GHbLztZaAAAC88s.jpg
GHbLStzbcAA1XWY.jpg
GHow6Bua4AAv0X_.jpg
GHTu0TXagAAUDPK.jpg
GHoLPTxaAAA_ZMg.jpg
GHJpcdqbIAILhid.jpg
GHptMk5XQAE6KHg.jpg
GHoG4b7a0AA_01k.jpg
GHnxMFgaoAAhpVq.jpg

In [23]:
## saving result to table
# jobid, tweet_id, cluster_no

s_cluster_number = ""

for index, row in save_df.iterrows():
    if row['cluster_number'] == '':
        s_cluster_number = "NULL"
    else:
        s_cluster_number = row['cluster_number']
        
    sql = "INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (%s, %s, %s)" % (str(const_job_id), row['tweet_id'], s_cluster_number)
    print(sql)
    execute_query_psql(sql)

INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763842281239691384, 26)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763841322509844533, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763840816118903020, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763837707070169227, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763832317855039918, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763825653852639359, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763820397328494790, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763819393874882694, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763819174995132416, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763817024067908063, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763814357274861876, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763813927342022745, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763811114717204640, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763805044921758036, 14)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763798292629193163, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763797943042351293, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763795359648858602, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763791427346272464, 13)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763790586312860145, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763789534565912847, 1)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763788995396509825, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763785069226053694, 20)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763784854486069575, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763784559966171287, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763784233167073753, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763783158678650990, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763782718025073139, 14)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763782706184491358, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763782673959698526, 21)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763779790056866125, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763779743391142108, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763779398690591046, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763778864495640899, 19)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763778324093124693, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763778246037180787, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763777496678609321, 19)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763777279963095322, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763776630399635858, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763775990063604033, 24)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763775414839996617, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763774671517057248, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763774601275068800, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763774595784683695, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763773190474715157, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763772305057218852, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763770357876711813, 4)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763770157821022627, 17)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763769889498812425, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763769211913199826, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763767816162046344, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763765773573738690, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763765417204650399, 16)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763764724075044913, 5)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763762839393861971, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763762747492401630, 20)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763761724770095353, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763745163439190473, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763761036140945786, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763761019250458759, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763760945858593201, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763758387127554249, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763758212598333807, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763757909706776798, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763757604197785849, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763756671523061783, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763756203266773426, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763755756632027453, 20)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763755143701618897, 21)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763755007613309380, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763751964997992945, 1)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763751938871656564, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763745086024888610, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763750361553350712, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763749278282031187, 5)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763748544098541701, 16)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763747653807116499, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763746051939238175, 10)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763746001972846825, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763745970704224746, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763745578251636922, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763745163439190473, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763744157951275161, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763743222155935906, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763743208117612840, 18)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763742450001281167, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763739058654900555, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763737946614886859, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763735902323708369, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763734565175316604, 25)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763733503852904830, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763733355827441782, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763733076524580943, 11)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763732551922041264, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763731899745538255, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763731678898577490, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763730946858074504, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763730586110418991, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763730527096545378, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763730407550538211, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763729776903389318, 27)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763729000495738947, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763727411961839679, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763726812285386968, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763726471108162043, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763725674941137395, 20)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763724359427125748, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763724105172545621, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763723766805475469, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763720328814223537, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763719388224761999, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763718147901923379, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763717770280407428, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763717702437515766, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763716556503085455, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763716466468360243, 12)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763715889927725159, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763715862090207329, 6)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763715043332645273, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763713632171610173, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763713102531666211, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763711808802795692, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763711530816925869, 9)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763707831801544830, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763707388564255140, 11)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763707299724750954, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763705950735864247, 27)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763704581564076247, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763703249658691980, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763701607584391194, 7)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763701109674385747, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763696237176635681, 12)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763687191463809400, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763670074391662914, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763655275922530448, 7)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763624887665701073, 0)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763611935772393681, 7)
Query executed successfully. 1 rows affected.
INSERT into ret_cluster_result (job_id, tweet_id, cluster_no) values (3747, 1763599481663357337, 0)

In [24]:
# closing .... report back job status into rdbms
sql = "update screen_analisis_ai set end_process = now(), status = 3, processby_id = 1 where id = %s" % (str(const_job_id))
execute_query_psql(sql)

sql = "update screen_analisis_ai set duration = EXTRACT(EPOCH FROM (end_process - start_process)) where id = " + str(const_job_id)
execute_query_psql(sql)

Query executed successfully. 1 rows affected.
Query executed successfully. 1 rows affected.

1

In [12]:
# wait 10 seconds before finished
import time
time.sleep(10)