In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

def execute_mysql_query(query):
    try:
        # Define the connection parameters inside the function
        host = "202.157.185.40"
        port = 3306  # Replace with your MySQL port number
        database = "cekmedsos_database"
        user = "cekmedsos_db"
        password = "282E~f0si"

        # Create a SQLAlchemy engine using the provided connection parameters
        connection_url = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"
        engine = create_engine(connection_url)

        # Establish a connection
        connection = engine.connect()

        # Execute the MySQL query and fetch the results into a DataFrame
        # if query.strip().lower().startswith(("insert", "update", "delete")):
            #result = connection.execute(query)
            
        # if query.strip().lower().startswith("select"):
        result_df = pd.read_sql(query, connection)

        # Close the database connection
        connection.close()

        print("Query executed successfully.")

        return result_df

    except SQLAlchemyError as e:
        print(f"Error: {str(e)}")
        return None

In [12]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, MetaData, Table
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError

def execute_query(query):
    # Connection properties
    db_url = 'mysql+mysqlconnector://cekmedsos_db:282E~f0si@202.157.185.40/cekmedsos_database'

    # Creating an engine
    engine = create_engine(db_url, echo=False)

    # Define a metadata object
    metadata = MetaData()

    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Execute the query
        result = session.execute(query)

        # Commit changes for INSERT, UPDATE, DELETE queries
        if query.strip().lower().startswith(("insert", "update", "delete")):
            session.commit()

        # Fetch data for SELECT queries
        if query.strip().lower().startswith("select"):
            # Convert the result to a Pandas DataFrame
            df = pd.DataFrame(result.fetchall(), columns=result.keys())
            return df

    except SQLAlchemyError as e:
        print(f"Error: {e}")
        session.rollback()
    finally:
        # Close the session
        session.close()

# Example usage:
# query = "SELECT * FROM your_table"
# result_df = execute_query(query)
# print(result_df)

In [15]:
query = "select * from ret_available_db limit 10"
result_df = execute_query(query)

result_df.head

<bound method NDFrame.head of    id                dbname                        keyword       since  \
0   1  20201104-105318-2434  #ObyektifDipercayaPartisipasi  2020-11-02
1   2  20201109-105811-7646   "Silent Majority Dukung OBL”  2020-11-05
2   3  20201109-093510-9242        #TaatiProkesPadaPilkada  2020-11-04
3   4  20201109-100457-2597           #PilkadaAmandanSehat  2020-11-05
4   5  20201109-102937-8364       #PilkadaAmanPatuhiProkes  2020-11-07
5   6  20201109-110428-7070  #InvestasiMasukEkonomiBangkit  2020-11-05
6   7  20201109-111354-8732            #AhlanWaSahlanIBHRS  2020-11-05
7   8  20201109-121201-5475              #IndonesiaMembaik  2020-11-06
8   9  20201109-124055-1535                #NonstopKreasiq  2020-11-06
9  10  20201109-124348-6797       "Jauhi Kovid Dan Kadrun"  2020-11-06

        until  count     scrape_datetime          created_at  status  db_id  \
0  2020-11-03  11055 2020-11-04 10:53:18 2020-11-24 20:43:03       1      1
1  2020-11-06   1306 2020-11-09 10:58:11 2020-11-24 20:44:15       1      2
2  2020-11-05  11035 2020-11-09 09:35:10 2020-11-24 20:48:28       1      3
3  2020-11-06  11014 2020-11-09 10:04:57 2020-11-24 20:57:13       1      4
4  2020-11-08  11037 2020-11-09 10:29:37 2020-11-24 21:05:57       1      5
5  2020-11-06   1848 2020-11-09 11:04:28 2020-11-24 21:14:45       1      6
6  2020-11-06   7995 2020-11-09 11:13:54 2020-11-24 21:16:25       1      7
7  2020-11-07   2136 2020-11-09 12:12:01 2020-11-24 21:24:26       1      8
8  2020-11-07    319 2020-11-09 12:40:55 2020-11-24 21:33:53       1      9
9  2020-11-07   1608 2020-11-09 12:43:48 2020-11-24 21:34:13       1     10

   type account_name cat_description cat_brief_description target_date
0     0         None            None                  None  2020-11-03
1     0         None            None                  None  2020-11-06
2     0         None            None                  None  2020-11-05
3     0         None            None                  None  2020-11-06
4     0         None            None                  None  2020-11-08
5     0         None            None                  None  2020-11-06
6     0         None            None                  None  2020-11-06
7     0         None            None                  None  2020-11-07
8     0         None            None                  None  2020-11-07
9     0         None            None                  None  2020-11-07  >

In [17]:
query = "update screen_analisis_ai a set jenis_analisa = '2' where id = '0'"
execute_query(query)