    db_params = {
        'host': '103.82.242.92',
        'port': '5710',
        'database': 'medols',
        'user': 'postgres',
        'password': 'FEWcTB3JIX5gK4T06c1MdkM9N2S8w9pb',
    }

In [6]:
from sqlalchemy import create_engine, Column, Integer, String, MetaData, Table
from sqlalchemy.sql import text
from sqlalchemy.orm import sessionmaker
import pandas as pd

def execute_query(query, params=None):
    # Set your PostgreSQL connection parameters
    db_params = {
        'host': '103.82.242.92',
        'port': '5710',
        'database': 'medols',
        'user': 'postgres',
        'password': 'FEWcTB3JIX5gK4T06c1MdkM9N2S8w9pb',
    }

    # Create a SQLAlchemy engine
    engine = create_engine(f"postgresql+psycopg2://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

    # Create a metadata object
    metadata = MetaData(bind=engine)

    # Example: Define your table
    your_table = Table('your_table', metadata,
                       Column('id', Integer, primary_key=True),
                       Column('column1', String),
                       Column('column2', String)
                       )

    # Create a session
    Session = sessionmaker(bind=engine)
    session = Session()

    try:
        # Execute the query with optional parameters
        result = session.execute(text(query), params)

        # Check if the query is a SELECT query
        is_select_query = result.returns_rows

        if is_select_query:
            # Fetch the data and return as a Pandas DataFrame
            columns = result.keys()
            fetched_data = result.fetchall()
            df = pd.DataFrame(fetched_data, columns=columns)
            # print("Fetched Data as DataFrame:")
            # print(df)
            return df
        else:
            # Get the number of rows affected for non-SELECT queries
            rows_affected = result.rowcount

            # Commit the changes to the database for non-SELECT queries
            session.commit()

            print(f"Query executed successfully. {rows_affected} rows affected.")
            return rows_affected
    except Exception as e:
        # Rollback changes if there's an error
        session.rollback()
        print(f"Error executing query: {e}")
    finally:
        # Close the session
        session.close()

In [22]:
# Example usage:
# SELECT query
# select_query = "SELECT * FROM available_db WHERE id = :value_to_select"
# select_params = {'value_to_select': '1'}
# df_ret = execute_query(select_query, select_params)

# INSERT query
# insert_query = "INSERT INTO res_available_db (id, res_available_db, keyword, created_at,db_id) VALUES(:value3, :value1, :value2, now(), :value4)"
# insert_params = {'value1': 'xxx-dbname', 'value2': 'xxx', 'value3':'132', 'value4':'136'}
# execute_query(insert_query, insert_params)

# # UPDATE query
# update_query = "UPDATE res_available_db SET keyword = :new_value WHERE id = :condition_value"
# update_params = {'new_value': 'xxx-2', 'condition_value': '132'}
# execute_query(update_query, update_params)

# DELETE query
# delete_query = "DELETE FROM res_available_db WHERE id = :value_to_delete"
# delete_params = {'value_to_delete': '132'}
# execute_query(delete_query, delete_params)

Query executed successfully. 0 rows affected.

0

In [10]:
df_ret.head()

,id,dbname,keyword,since,until,count,scrape_datetime,created_at,status,type,target_date
0,1,20201104-105318-2434,#ObyektifDipercayaPartisipasi,2020-11-02,2020-11-03,11055,2020-11-04 10:53:18,2020-11-24 20:43:03,0,0,None